# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Database, locally this will route to the docker container, on production it will route to the remote database simply replace the url and run the db:push command
# Drizzle
# Define all parameters such as the port, and database name aand the start-database.sh script will handle the rest
DATABASE_URL="postgresql://postgres:password@localhost:5632/next-postgres-template"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth GitHub Provider
# Get these from https://github.com/settings/developers
# Create a new OAuth App
# Homepage should be http://localhost:3000 on Localhost
# Homepage should be https://your-app-url.com on Production
# Authorization callback URL should be http://localhost:3000/api/auth/callback/github on Localhost
# Authorization callback URL should be https://your-app-url.com/api/auth/callback/github on Production
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""


GOOGLE_CLOUD_PROJECT_ID=""
GOOGLE_CLOUD_CLIENT_EMAIL=""
GOOGLE_CLOUD_PRIVATE_KEY=""
NEXT_PUBLIC_GOOGLE_CLOUD_BUCKET_NAME=""
GCS_PROFILE_PICS_BUCKET=""

ADMIN_EMAILS=""